<div class="container">
        <div class="row">
            <div class="col">

                <h3>投稿一覧</h3>
                <% @post_summaries.each do |post| %>
                    <h4><%= post.title %></h4>
                    <h4><%= post.headline %></h4>
                    <% post.post_images.each do |image| %>
                        <%= attachment_image_tag image, :image, fallback: "noimage.jpg", width: "300" %>
                    <% end %>

                <% end %>
            </div>
        </div>
    </div>