<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="new-title">家で楽しめる投稿</h3>
      <p>以下カテゴリーの投稿を希望している方はしたの投稿ボタンをクリックしてください。</p>
      <ul class="list_design031">
        <li class="animation">動画・映画</li>
        <li class="animation">本・電子書籍</li>
        <li class="animation">アクティビティ</li>
      </ul>
     <p><%= link_to "お家で楽しめる投稿", house_post_summaries_path, class: "btn btn-dark" %></p>

      <h3 class="new-title">外で楽しめる投稿</h3>
      <p>以下カテゴリーの投稿を希望している方は投稿ボタンをクリックしてください。</p>
      <ul class="list_design031">
        <li class="animation">隠れおすすめスポット</li>
        <li class="animation">隠れ喫茶店</li>
        <li class="animation">おすすめ散歩</li>
      </ul>
      <p><%= link_to "外で楽しめる投稿", outside_post_summaries_path, class: "btn btn-dark" %></p>
    </div>
  </div>
</div>

<script type="text/javascript">
document.addEventListener("turbolinks:load", function() {
  var element = document.getElementsByClassName('animation');
  if(!element) return;
  var showTiming = window.innerHeight > 768 ? 200 : 40; // 要素が出てくるタイミングはここで調整
  var scrollY = window.pageYOffset;
  var windowH = window.innerHeight;
  for(var i=0;i<element.length;i++) { var elemClientRect = element[i].getBoundingClientRect(); var elemY = scrollY + elemClientRect.top; if(scrollY + windowH - showTiming > elemY) {
      element[i].classList.add('is-show');
    } else if(scrollY + windowH < elemY) {
      element[i].classList.remove('is-show');
    }
  }
})
</script>