<% if post_summary.favorited_by?(current_user) %>
  <p>
    <%= link_to post_summary_favorites_path(post_summary), method: :delete, remote: true, class: "fas fa-thumbs-up" do %>
      <%= post_summary.favorites.count %>
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to post_summary_favorites_path(post_summary), method: :post, remote: true,  class: "far fa-thumbs-up" do %>
      <%= post_summary.favorites.count %>
    <% end %>
  </p>
<% end %>