<% if post_summary.favorited_by?(current_user) %>
  <p>
    <span>
      <i class="fas fa-thumbs-up"></i><%= post_summary.favorites.count %>
    </span><%= link_to "いいね！", post_summary_favorites_path(post_summary), method: :delete, class: "favorites", remote: true, style: "color: #f0fff0; text-decoration: none; margin-left: 55px;" %>
  </p>
<% else %>
  <p>
    <span>
      <i class="far fa-thumbs-up"></i><%= post_summary.favorites.count %>
    </span><%= link_to "いいね！", post_summary_favorites_path(post_summary), method: :post, class: "favorites", remote: true, style: "color: #f0fff0; text-decoration: none; margin-left: 55px;"%>
  </p>
<% end %>