<% if post_summary.favorited_by?(current_user) %>
  <p>
    <span>
      <i class="fas fa-thumbs-up"></i><%= post_summary.favorites.count %>
    </span><%= link_to "いいね！", post_summary_favorites_path(post_summary), method: :delete, remote: true %>
  </p>
<% else %>
  <p>
    <span>
      <i class="far fa-thumbs-up"></i><%= post_summary.favorites.count %>
    </span><%= link_to "いいね！", post_summary_favorites_path(post_summary), method: :post, remote: true%>
  </p>
<% end %>