<div class="about-image py-3"><%= image_tag 'fun.jpg', width: "300"%></div>

<div class="container mx-auto py-5">
  <div class="row">
    <div class="col-md-12 text-center" style="background-color: rgba( 255, 255, 255, 0.9 );">
      このサイトではその暇な時を一人で過ごしたい楽しい日にできるようプチ楽しい情報が投稿されています。<br />
      意外と近所にあった知らない場所でのプチ楽しい時間、家の中でできるプチ楽しい時間をなど様々なことが共有されています。<br />
      見つけてあなたも楽しんでみてください。
    </div>
  </div>
</div>