/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 .navi{
   text-decoration: none;
   color: white ;
 }

.btn-real-dent {
  /*ボタン自体*/
  // position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  line-height: 30px;
  left: 30px;
  top: 9px;
  border-radius: 50%;
  font-size: 20px;
  background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
  color: rgba(3, 169, 244, 0.54);
}

.btn-real-dent .fa:active {
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #d8d8d8;
}

body{
  width: 100%;
  background-image: image-url('fire.jpg');
  background-size: contain;
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 100%;
  position: relative;
  padding-bottom: 100px;
  font-family: 'Yusei Magic', sans-serif;
}

footer{
  width: 100%;
  text-align: center;
  padding: 50px 0 30px 0;
  position: absolute;
  bottom: 0;
  color: white;
}

@media screen and (max-width:1370px) {
  body{
    background-size: cover;
    background-position: top;
  }
}

@media screen and (max-width:420px){
  body{
    background-size: cover;
    background-position: top;
  }

  footer{
    font-size: 10px;
  }
}