// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// body{
//     background-color: #f5f5dc;
// }
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Yomogi&display=swap');

.page {
  padding-top: 420px;
}

.img-responsive{
    width: 300px;
    height: 130px;
}

// ヘッダー
.top-page-header{
    width: 100%;
    height: 500px;
    background-image: url('22017170_m.jpg');
    background-repeat: repeat;
    background-position: bottom;

    &__header-center{
        padding-top: 100px;
        height: 100px;
        width: 37%;

        &__surround{
            background-color: rgba( 255, 255, 255, 0.45 );

            &__bottom{
                font-size: 30px;
                color: #191970;
                padding-left: 40px;
                font-family: 'M PLUS Rounded 1c', sans-serif;
            }
        }
    }
}

.introduction{
    width: 100%;
    height: 200px;
    background-color: #fffaf0;
    color: #778899;
    font-size: 20px;
    padding-top: 50px;
    text-align: center;
    line-height: 45px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

// カテゴリー一覧
.feature{
    list-style-type: none;

    &__feature-item{
        flex-direction: column;
        position: relative;
        display: flex;
        flex-direction: row;
        padding: 30px 0 30px 0;
        margin-right: 150px;
        text-align: center;

        &--picture{
            width: 500px;
            height: 350px;
            box-shadow:10px 10px 20px #000000;
        }

        &--body{
            position: absolute;
            top: 50%;
            left: 350px;
            background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
            width: 40%;
            font-family: 'Yomogi', cursive;

            &--title{
                font-weight: bolder;
                font-size:  25px;
                position:  relative;
                font-weight:  normal;
                margin: 20px 0 20px 0;
                border-radius:  2px;
            }

            &--content{
                font-size: 18px;
            }
        }

        &--body2{
            position: absolute;
            top: 50%;
            right: 350px;
            background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
            width: 40%;
            font-family: 'Yomogi', cursive;
        }
    }

    &__feature-item:nth-child(2n){
        display: flex;
        justify-content: flex-end;
        margin-right: 0;
        margin-left: auto;
    }

}

// タイトル
.title2{
    position: relative;
    text-align: center;
    margin: 60px 0;
    font-family: 'Yomogi', cursive;
    &::before{
        position: absolute;
        top: 50%;
        content: '';
        display: block;
        width: 25%;
        height: 10px;
        background-color: gray;
    }

    &::after{
        position: absolute;
        top: 50%;
        right: 0%;
        content: '';
        display: block;
        width: 25%;
        height: 10px;
        background-color: gray;
    }
    &__small{
        &__title-point{
            background-color: #2196F3;
            border-radius:  50%;
            padding:  10px;
            font-size: 40px;
            color: #fff;
            margin-right: 5px;
            font-family: 'Yomogi', cursive;
        }
    }
}

@media screen and (max-width:1370px) {
    .top-page-header{
        height: 350px;

        &__header-center{
        padding-top: 100px;
        height: 100px;
        width: 37%;

            &__surround{
                background-color: rgba( 255, 255, 255, 0.45 );

                &__bottom{
                    font-size: 25px;
                    color: #191970;
                    padding-left: 40px;
                    font-family: 'M PLUS Rounded 1c', sans-serif;
                }
            }
        }

        .img-responsive{
            width: 200px;
            height: 100px;
        }
    }

    .introduction{
        font-size: 18px;
    }

    .feature{

        &__feature-item{

            &--body{
                width: 50%;

                &--title{
                    font-size:  30px;
                    position:  relative;
                    font-weight:  normal;
                    margin: 20px 0 20px 0;
                    border-radius:  2px;
                    position: relative;
                }

                &--content{
                    font-size: 23px;
                }
            }

            &--body2{
                top: 50%;
                width: 50%;
            }
        }

        &__feature-item:nth-child(2n){
            display: flex;
            justify-content: flex-end;
            margin-right: 0;
            margin-left: auto;
        }

    }


}

@media screen and (max-width:1024px) {

    .top-page-header{
        height: 300px;
        background-image: url('22017170_m.jpg');
        background-repeat: repeat;
        background-position: right 15% bottom 10%;

        &__header-center{
        padding-top: 80px;
        height: 100px;
        width: 37%;

            &__surround{
                background-color: rgba( 255, 255, 255, 0.45 );

                &__bottom{
                    font-size: 20px;
                    color: #191970;
                    padding-left: 40px;
                    font-family: 'M PLUS Rounded 1c', sans-serif;
                }
            }
        }
    }

    .introduction{
        height: 180px;
        font-size: 17px;
        padding-top: 30px;
        line-height: 40px;
    }

    // カテゴリー一覧
    .feature{
        &__feature-item{
            &--body{
                width: 43%;
                }

            &--body2{
                width: 43%;
            }
        }

    }

    .title2{
        &::before{
            width: 20%;
        }

        &::after{
            width: 20%;
        }
    }

}

@media screen and (max-width:960px) {
    .img-responsive{
        width: 200px;
        height: 100px;
    }

    .introduction{
        font-size: 13px;
    }

    .title2{
        &::before{
            width: 10%;
        }

        &::after{
            width: 10%;
        }

    }

    .feature{
        &__feature-item{

            &--body{
                position: absolute;
                top: 50%;
                left: 350px;
                background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
                width: 50%;
                font-family: 'Yomogi', cursive;

                &--title{
                    font-size:  25px;
                }

                &--content{
                    font-size: 20px;
                }
            }

            &--body2{
                width: 50%;
            }
        }

    }

    .top-page-header{
        height: 300px;

        &__header-center{
            width: 40%;
        }
    }
}

@media screen and (max-width:770px){
    .title2{
        &::before{
            width: 10%;
        }

        &::after{
            width: 10%;
        }
    }

    .top-page-header{

        &__header-center{
            width: 45%;
        }
    }
}

@media screen and (max-width:420px){
    .img-responsive{
        width: 100px;
        height: 50px;
    }

    .top-page-header{
        .img-responsive{
            width: 100px;
            height: 50px;
            padding-left: 10px;
        }

        width: 100%;
        height: 200px;
        background-image: url('22017170_m.jpg');
        background-repeat: repeat;
        background-size: cover;

        &__header-center{
            padding-top: 70px;
            height: 100px;
            width: 50%;

            &__surround{
                background-color: rgba( 255, 255, 255, 0.45 );

                &__bottom{
                    font-size: 2px;
                    color: #191970;
                    padding-left: 10px;
                    font-family: 'M PLUS Rounded 1c', sans-serif;
                }
            }
        }
    }

    .introduction{
        width: 100%;
        height: 120px;
        background-color: #fffaf0;
        color: #778899;
        font-size: 2px;
        padding-top: 20px;
        text-align: center;
        line-height: 15px;
    }


    .feature{
        &__feature-item{
            flex-direction: column;
            position: relative;
            display: flex;
            flex-direction: row;
            padding: 30px 0 30px 0;
            margin-right: 150px;

            &--picture{
                width: 250px;
                height: 150px;
                box-shadow:10px 10px 20px #000000;
            }

            &--body{
                position: absolute;
                top: 55%;
                left: 90px;
                background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
                height: 55px;
                width: 200px;
                font-family: 'Yomogi', cursive;

                &--title{
                    font-weight: bolder;
                    font-size:  4px;
                    position:  relative;
                    font-weight:  normal;
                    margin: 5px 0 5px 0;
                    border-radius:  2px;
                }

                &--content{
                    font-size: 4px;
                }
            }

            &--body2{
                position: absolute;
                top: 55%;
                right: 90px;
                background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
                width: 200px;
                font-family: 'Yomogi', cursive;
            }
        }

        &__feature-item:nth-child(2n){
            display: flex;
            justify-content: flex-end;
            margin-right: 0;
            margin-left: auto;
        }

    }

    .title2{
        position: relative;
        text-align: center;
        margin: 20px 0;
        font-family: 'Yomogi', cursive;
        &::before{
            position: absolute;
            top: 50%;
            content: '';
            display: block;
            width: 10%;
            height: 10px;
            background-color: gray;
        }

        &::after{
            position: absolute;
            top: 50%;
            right: 0%;
            content: '';
            display: block;
            width: 10%;
            height: 10px;
            background-color: gray;
        }

        &__small{
            font-size: 15px;
            padding-top: 10px;

            &__title-point{
                background-color: #2196F3;
                border-radius:  50%;
                padding:  10px;
                font-size: 20px;
                color: #fff;
                margin-right: 5px;
                font-family: 'Yomogi', cursive;
            }
        }
    }
}