// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// body{
//     background-color: #f5f5dc;
// }
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Yomogi&display=swap');

.page {
  padding-top: 420px;
}

// ヘッダー
.top-page-header{
    width: 100%;
    height: 350px;
    background-image: url('22017170_m.jpg');
    background-repeat: repeat;
    background-position: bottom;

    &__header-center{
        padding: 10px;
        width: 33%;
        background-color: rgba( 255, 255, 255, 0.45 );

        &__bottom{
            font-size: 35px;
            color: #191970;
            padding-left: 40px;
            font-family: 'M PLUS Rounded 1c', sans-serif;
        }
    }
}

.introduction{
    width: 100%;
    height: 55vh;
    background-color: #fffaf0;
    color: #778899;
    font-size: 20px;
    padding-top: 380px;
    text-align: center;
    line-height: 45px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

@media screen and (max-width:1025px) {
    .introduction{
       // margin-top: 400px;
    }
}

@media screen and (max-width:768px) {
    .introduction{
       // margin-top: 430px;
    }
}

@media screen and (max-width:540px){
    .introduction{
        //margin-top: 400px;
    }
}


// カテゴリー一覧
.feature{
    list-style-type: none;

    &__feature-item{
        flex-direction: column;
        position: relative;
        display: flex;
        flex-direction: row;
        padding: 30px 0 30px 0;
        margin-right: 150px;

        &--picture{
            width: 500px;
            height: 350px;
            box-shadow:10px 10px 20px #000000;
        }

        &--body{
            position: absolute;
            top: 60%;
            left: 350px;
            background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
            padding: 10px;
            width: 35%;
            font-family: 'Yomogi', cursive;

            &--title{
                font-size:  24px;
                position:  relative;
                font-weight:  normal;
                margin: 20px 0 20px 0;
                border-radius:  2px;
                position: relative;
            }
        }

        &--body2{
            position: absolute;
            top: 60%;
            right: 350px;
            background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
            padding: 10px;
            width: 35%;
            font-family: 'Yomogi', cursive;
        }
    }

    &__feature-item:nth-child(2n){
        display: flex;
        justify-content: flex-end;
        margin-right: 0;
        margin-left: auto;
    }

}

// タイトル
.title{
    position: relative;
    text-align: center;
    margin: 100px 0 100px 0;
    font-family: 'Yomogi', cursive;
    &::before{
        position: absolute;
        top: 50%;
        content: '';
        display: block;
        width: 25%;
        height: 10px;
        background-color: gray;
    }

    &::after{
        position: absolute;
        top: 50%;
        right: 0%;
        content: '';
        display: block;
        width: 25%;
        height: 10px;
        background-color: gray;
    }

    &__title-point{
        background-color: #2196F3;
        border-radius:  50%;
        padding:  10px;
        font-size: 40px;
        color: #fff;
        margin-right: 5px;
        font-family: 'Yomogi', cursive;
    }
}